.places{
    margin: 92px 148px 12px 148px;
    padding: 0;
    list-style: none;
}

@media all and (max-width:1280px) {
    .places {
        margin-left: calc(148px - (1280px - 100vw)/256*100);
        margin-right: calc(148px - (1280px - 100vw)/256*100);
    }
}

@media all and (max-width:1024px) {
    .places {
        margin-left: calc(48px - (1024px - 100vw)/256*24);
        margin-right: calc(48px - (1024px - 100vw)/256*24);
        margin-top: calc(92px - (1024px - 100vw)/256*4);
        margin-bottom: calc(12px + (1024px - 100vw)/256*5);
    }
}

@media all and (max-width:682px) {
    .places {
        margin-left: 16px;
        margin-right: 16px;
        margin-top: calc(88px - (682px - 100vw)/362*24);
        margin-bottom: calc(18px - (682px - 100vw)/362*11);
    }
}