.cover__subtitle {
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    text-align: center;
    margin: 0;
    width: 360px;
    z-index: 1;
    pointer-events: none;
}

@media all and (max-width:768px) {
    .cover__subtitle {
        font-size: calc(18px - (768px - 100vw)/448*4);
        line-height: calc(22px - (768px - 100vw)/448*6);
        width: calc(360px - (768px - 100vw)/448*72);
    }
}