@import url('./__lang-link-holder/header__lang-link-holder.css');
@import url('./__lang-link/header__lang-link.css');
@import url('./__lang-link/_checked/header__lang-link-checked.css');
@import url('./__logo/header__logo.css');

.header {
    padding-top: 28px;
    padding-left: 48px;
    padding-right: 48px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
}

@media all and (max-width:1023px) {
    .header {
        padding-left: calc(48px - ((1024px - 100vw)* 0.09375));
        padding-right: calc(48px - ((1024px - 100vw)* 0.09375));
    }
}

@media all and (max-width:768px) {
    .header {
        padding-left: calc(24px - ((768px - 100vw) / 56));
        padding-right: calc(24px - ((768px - 100vw) / 56));
        padding-top: calc(28px - ((768px - 100vw) / 112 * 3));
    }
}