.place__url-heading {
    font-size: 12px;
    line-height: 1.7;
    text-transform: uppercase;
    font-weight: 400;
    margin: 0 0 12px 0;
    color: #AAAAAA;
    letter-spacing: 2px;
}

@media all and (max-width:1024px) {
    .place__url-heading {
        line-height: calc(20.4px - (1024px - 100vw)/256 * 3.4);
    }
}